
/*
 *= require jquery.qtip.css 
 *= require colorbox-rails
 *= require_self
 *= require_tree .
 */



{
   margin: 0;
}

html, body {height: 100%;}



body { 
	background-color: #dedede; 
	margin: 0px; 
	padding-top: 50px; 
	min-width:960px;
	min-height: 500px; 
}

body, p, ol, ul, td, dl{
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  line-height: 15px;
}

pre {
  background-color: #CCFFCC;
  padding: 10px;
  font-size: 11px;
}

a { color: #08c; text-decoration: none; }
a:visited { /* color: #666; */ }
a:hover { color: #9999CC; text-decoration: underline; }



div.title {font-size: 16px; font-weight: bold; border-bottom: 1px solid #999;}
div.title a, div.title .non-link {
  font-size: 13px;
  font-weight: normal;
  border-left: 1px solid #999999;
  padding-left: 4px;
  padding-bottom: 1px;
}

div.title select, div.title input{
  height: 16px;
  font-size: 12px;
  padding: 0px;
  margin-bottom: -1px;
  bottom: 1px;
  vertical-align: middle;
  position: relative;
}

div.title select {
  height: 20px;
}

div.content {
  padding:4px;
}

div.sub-content {
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

div.mini-content {
  padding-left: 8px;
  padding-right: 8px;
}

div.sub-title, td.sub-title, div.mini-title {
	color: #404040;
	font-size:1.1em;
	margin: 4px;
	border-bottom: 1px solid #669966;
}

div.sub-title a, div.sub-title .non-link {
  padding: 0px 0px 3px 6px;
  float: none;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	border-left: 1px solid #669966;
}

div.title .non-link, div.sub-title .non-link {
  color: #777;
}

div.sub-title a.title-link {
	float:none;
  color: #404040;
	font-size:1em;
	text-decoration: none;
	font-variant: small-caps;
	font-weight: normal;
  border-left: 0px;
  padding: 0px;
/*	text-decoration:none;*/
}

div.sub-title a:hover.title-link {
	color:#CCFFCC;
/*  text-decoration: underline;*/
}

div.sub-title.description{
  font-size: 0.6em;
  color: #777;
}

div.mini-title {
  font-size: 10px;
  font-variant: small-caps;
}

table.search {
	border-collapse: collapse;
	width:100%;
}

table.search th {
	text-align:left;
	font-weight:bold;
	font-variant: small-caps;
	
}

table.search td {
	padding:3px 3px 3px 10px;
}

table.search tr {
	border-bottom:1px dotted #bbb;
}
div.search {
/*  margin-right:360px;*/
	padding:5px;
}

/* Styles for form content display*/
.ui-tabs .ui-tabs-panel{
	background: #dedede !important;
}
.forms-content{
	margin:0px;
	padding:0px;
	background-color: #dedede;
}

.forms-section{
	margin-bottom: 10px;
	margin-right: 10px;
	overflow: hidden;
	zoom: 1;
	padding: 20px 19px 10px;
	background: #fff;
	border: 1px solid #dedede;
	box-shadow: 0 1px 1px #999;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.section-header{
	color: #1D95CB;
	font-size: 13px;
}

.forms-section .section-content dl.info{
	margin:0;
	padding:0;
}
.forms-section .section-content dl.info dt {
	float: left;
	clear: left;
	line-height: 1.5;
	color: #888;
	padding: 5px 0;
}

.forms-section .section-content dl.info dd {
	line-height: 1.5;
	margin-left: 300px;
	zoom: 1;
	min-height: 18px;
	_height: auto!important;
	_height: 18px;
	padding: 5px 0;
	font-size: 13px;
}

.ui-tabs .ui-tabs-nav li a{
  font-size: 12px;
	
}

table.table-section tr th{
	line-height: 1.5;
	color: #888;
	font-size: 11px;
}
table.table-section tr td{
	line-height: 1.5;
	font-size: 12px;
}
.ui-tabs .ui-tabs-nav
{
	background: none;
	border: none;
}

.status-container{
	display: inline-block;
	white-space:nowrap;
}

.table-center th, .table-center td{
	padding: 1px 1px 1px 1px!important;
	text-align: center!important;
	vertical-align: middle!important;
}

