<footer class="footer">
  <small>
    Learn language by Talking to Native Speakers by TSQ
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News" %> </li>
    </ul>
  </nav>
</footer>